@model AdminProductsViewModel;
@{
	ViewData["Title"] = "Admin Page";
}

<div class="container-fluid my-5 py-3">
	<div class="row align-items-center">
		<div class="text-end col-2 mb-4 pt-5">
			<a class="button btn" asp-controller="Home" asp-action="Index">
				<i class="bi bi-arrow-left svgIcon"></i>
			</a>
		</div>
		<div class="col-8">
			<h1 class="text-center mb-4 pt-5">Pagina Amministratore</h1>
		</div>
		<div class="col-2">
		</div>
	</div>
	<div class="d-flex justify-content-end mb-3">
		<button class="icon-btn add-btn" onclick="location.href='@Url.Action("AddPage", "Admin")'">
			<div class="add-icon"></div>
			<div class="btn-txt text-white">Nuovo prodotto</div>
		</button>

	</div>
	<table class="table table-bordered table-hover">
		<thead class="thead-dark ">
			<tr class="text-center centroTab">
				<th>Id</th>
				<th>Prodotto</th>
				<th>Prezzo</th>
				<th>Descrizione corta</th>
				<th>Categoria</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model.AdminProducts)
			{
				<tr class="centroTab">
					<td>@product.Id</td>
					<td>@product.Name</td>
					<td>@product.Price.ToString("F2")</td>
					<td>@product.DescriptionShort</td>
					<td>@product.CategoryName</td>
					<td class=" d-flex border-0">
						<a class="btn btn-warning btn-sm mx-1" asp-controller="Admin" asp-action="EditPage" asp-route-id="@product.Id"><i class="bi bi-pencil-square"></i></a>
						<a class="btn btn-danger btn-sm mx-1" asp-controller="Admin" asp-action="Delete" asp-route-id="@product.Id"><i class="bi bi-trash3"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
