@model Ecommerce.Models.Product

@{
	ViewData["Title"] = "Dettagli Prodotto";
}

<div class="container mt-5 py-3 d-flex align-items-center" style="height: 90dvh">
	<div class="row align-items-center text-center">
		<div class="col-1"></div>
		<div class="col-5 text-center p-0">
			<div class=" row">
				<div class="col-12">
					<img src="@Model.Img" id="image" class="w-100 rounded-3 border" style="max-width: 400px;">
				</div>
				<div class="col-6 px-0 text-end">
					<img src="@Model.Img2" class="imgPiccole" />
				</div>
				<div class="col-6 px-0 text-start">
					<img src="@Model.Img3" class="imgPiccole" />
				</div>
			</div>
		</div>
		<div class="col-5 mt-3 px-0 d-flex">
			<div class="row justify-content-start" id="row">
				<div class="col-12"><p class="h4" id="productName">@Model.Name</p></div>
				<div class="col-12">
					<p id="price" class="fw-bold text-black-50">
						€
						@Model.Price.ToString("F2")
					</p>
				</div>
				<div class="col-12"><p id="description">@Model.Description</p></div>
				<form method="post" action="/details/add-to-cart/@Model.Id">
					<button type="submit">Aggiungi al Carrello</button>
				</form>
				<div class="text-center mt-3 col-12">
					<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Torna ai prodotti</a>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>
</div>

