@model Ecommerce.Models.Product

@{
	ViewData["Title"] = "Dettagli Prodotto";
}

<div class="container mt-5 py-3 d-flex align-items-center" style="height: 90dvh">
	<div class="row align-items-center text-center">
		<div class="col-1"></div>
		<div class="col-5 text-center p-0">
			<div class=" row">
				<div class="col-12">
					<img src="@Model.Img" id="image" class="w-100 rounded-3 border" style="max-width: 400px;">
				</div>
				<div class="col-6 px-0 text-end">
					<img src="@Model.Img2" class="imgPiccole" />
				</div>
				<div class="col-6 px-0 text-start">
					<img src="@Model.Img3" class="imgPiccole" />
				</div>
			</div>
		</div>
		<div class="col-5 mt-3 px-0 d-flex">
			<div class="row justify-content-start" id="row">
				<div class="col-12"><p class="h4" id="productName">@Model.Name</p></div>
				<div class="col-12">
					<p id="price" class="fw-bold text-black-50">
						€
						@Model.Price.ToString("F2")
					</p>
				</div>
				<div class="col-12"><p id="description">@Model.Description</p></div>
				<form method="post" action="/details/add-to-cart/@Model.Id" class="d-flex align-items-center">
					<label for="quantity" class="me-2">Quantità:</label>
					<input type="number" id="quantity" name="quantity" class="form-control w-25 me-2" value="1" min="1" required>
					<button type="submit" class="btn btn-primary">Aggiungi al carrello</button>
				</form>
				<div class="text-center mt-3 col-12">
					<button class="btn btn-primary" onclick="window.history.back();">
						Torna ai Prodotti
					</button>
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>

@if ((bool)TempData["Toast"] == true)
{
	<div id="toastFikissimo" class="position-fixed p-3 animate__animated animate__fadeInRight" style="z-index: 5;">
			<div class="toast-header justify-content-between">
				<strong class="mr-auto">Mordi e Fuggi</strong>
				<small>just now</small>
			</div>
			<div class="toast-body">
				@Model.Name aggiunto al carrello!
			</div>
	</div>
}

@section Scripts {
	<script>
		const toast = document.getElementById('toastFikissimo');
		window.addEventListener('load', () => {
			setTimeout(() => {
				toast.classList.add('animate__fadeOutRight');
			}, 4000);
		});
	</script>
}
