@model CategoryViewModel 

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid text-center mt-3 mb-5">
    <img src="~/img/mordi (200 x 50 px) (1).png" alt="logo" class="pt-5 logoBig"/>
	<form asp-controller="Home" asp-action="SearchCategories" method="get" class="d-flex justify-content-center mt-3 mb-5">
		<div class="input-group w-50 shadow-sm">
			<input type="text" name="query" class="form-control border-primary"
				   placeholder="Cerca..." aria-label="Cerca categorie" />
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i> Cerca
			</button>
		</div>
	</form>

	@if (!string.IsNullOrEmpty(ViewBag.Message))
	{
		<div class=" text-center mt-5">
			@ViewBag.Message
		</div>
	}


    <div class="row mt-0">
		@if (Model.Categories != null && Model.Categories.Count > 0)
		{
			@foreach (var category in Model.Categories)
			{
				<div class="col-4 mb-3">
					<div class="categoria d-flex flex-column align-items-center">
					<div class="categoriaImg">
						<a asp-controller="Home" asp-action="PrintProducts" asp-route-id="@category.Id">
							<img src="@category.Img" alt="categoria" class="circular-img categoriaImg" />
						</a>
					</div>
					<a asp-controller="Home" asp-action="PrintProducts" asp-route-id="@category.Id" class=" text-decoration-none text-black fw-bold">
						<h5>@category.Name</h5>
					</a>
					</div>
				</div>
			}
		}

    </div>

</div>